* {
    margin:0px;
    padding:0px;
}
html, body {
    font-family: Roboto, sans-serif, arial;
    font-size: 14px;
    color: #242424;
    box-sizing: border-box;
}
.tagline {
    font-size: 16px;
    color: white;
    margin-top: 5px;
}

.main-section 
{
    width: 100%;
    float: left;
    padding:50px 0px 40px 0px;
}
.heading {
    font-size: 22px;
    font-weight: 500;
    border-bottom: 1px solid #ff5722;
    margin-bottom:25px;
    color: #ff5722;
}
nav {
    background-color: #ff5722;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: relative;
}

.logo {
    width: 100px;
    height: auto;
    position: absolute;
    left: 20px; 
    top: 50%;
    transform: translateY(-50%);
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

nav .btn {
    float: right;
}

.container {
    max-width: 1200px; 
    margin: 0 auto;
    overflow: hidden;
}

.title {
    text-align: center;
    color: black;
}
.table-container {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
.footer {
    background-color: #1f2836;
    padding: 20px 0; 
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px; 
    z-index: 999; 
}

.footer p {
    margin: 10px;
    font-style: italic;
}

.footer p span {
    font-weight: bold;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

